<template name="layout">

  <header>

<div class="navbar-fixed">


  <nav>
    <div class="container">


      <div class="nav-wrapper">
        <a href="#" class="brand-logo">{{brand}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{pathFor 'Edu'}}"><i class="fa fa-graduation-cap"></i></a></li>
          <li><a href="{{pathFor 'Help'}}"><i class="fa fa-question-circle"></i></a></li>
            <li><a href="{{pathFor 'Message'}}"><i class="material-icons">email</i></a></li>
          <li> <a href="#"><i class="ion-grid"></i></a>


        </li>
        </ul>

        <div class="side-nav" id="slide-out">
          <div class="nav2">
            <div class="avatar-header">
              <img src="http://api.randomuser.me/portraits/women/42.jpg" alt="Avatar" class="circle img-size responsive-img"/>
              <p>
              Jen Smith
              </p>

            </div>
          </div>

          <ul>

          <li><a href="{{pathFor 'Home'}}">Dashboard<i class="utility-icons-red ion-ios-speedometer left"></i></a></li>
          <li><a href="{{pathFor 'Members'}}">Members<i class="utility-icons-green material-icons left">perm_identity</i></a></li>
          <li><a href="{{pathFor 'Staff'}}">Staff<i class="utility-icons material-icons left">supervisor_account</i></a></li>
          <li><a href="{{pathFor 'Companion'}}">Companion<i class="utility-icons-bgrey material-icons left">phonelink_setup</i></a></li>
          <hr style="background-color:#efefef;"/>
          <li><a href="{{pathFor 'Services'}}">Services<i class="utility-icons material-icons left">work</i></a></li>
          <li><a href="{{pathFor 'Schedule'}}">Schedule<i class="utility-icons material-icons left">perm_contact_calendar</i></a></li>
            <li><a href="{{pathFor 'Challenges'}}">Challenges<i class="utility-icons fa fa-trophy left"></i></a></li>

          <li><a href="{{pathFor 'Diet'}}">Diet<i class="utility-icons fa fa-cutlery left"></i></a></li>
          <li><a href="{{pathFor 'Goals'}}">Goals<i class="utility-icons material-icons left">class</i></a></li>
          <li><a href="{{pathFor 'Store'}}">Store<i class="utility-icons material-icons left">shopping_cart</i></a></li>
          <li><a href="{{pathFor 'Settings'}}">Settings<i class="utility-icons material-icons left">settings</i></a></li>
        </ul>
        </div>

        </div>






        </div>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="ion-navicon"></i></a>
    </nav>
</div>




      </header>
      <main>


  <div class="container">
    <button  data-activates="slide-out" class="open-menu  show-on-large">Open</button>
  {{> yield}}
  </div>
  </main>
</template>
