<template name="plankNav">


  <nav>
    <div>


      <div class="nav-wrapper">

        <a href="#" class="brand-logo">  {{current}}  <span class="back fa fa-arrow-left fa-lg">back</span>  </a>

        <ul id="nav-mobile" class="right hide-on-med-and-down right-nav-padding">
          <li><a href="{{pathFor 'Edu'}}"><i class="utility-icons-dark fa fa-graduation-cap"></i></a></li>
          <li><a href="{{pathFor 'Help'}}"><i class="utility-icons-dark fa fa-question-circle"></i></a></li>
            <li><a href="{{pathFor 'Message'}}"><i class="utility-icons-dark material-icons">email</i></a></li>
          <li><a href="#"><i id="logout" class="utility-icons-dark material-icons">power_settings_new</i></a>


        </li>
        </ul>

        <div class="side-nav" id="slide-out">
          <div class="nav2">
            <div class="avatar-header">
              {{#if  currentUser}}
              <img src="http://api.randomuser.me/portraits/men/42.jpg" alt="Avatar" class="circle img-size responsive-img"/>
              <p>
              {{currentUser.profile.firstname}} {{currentUser.profile.lastname}}
              </p>
               {{/if}}
            </div>
          </div>

          <ul>

          <li><a href="{{pathFor 'Dashboard'}}">Dashboard<i class="utility-icons-red ion-ios-speedometer left"></i></a></li>
          <li><a href="{{pathFor 'Members'}}">Members<i class="utility-icons-green material-icons left">perm_identity</i></a></li>
          <li><a href="{{pathFor 'Staff'}}">Staff<i class="utility-icons material-icons left">supervisor_account</i></a></li>
          <li><a href="{{pathFor 'Companion'}}">Companion<i class="utility-icons-bgrey material-icons left">phonelink_setup</i></a></li>
            <li><a href="{{pathFor 'Coach'}}">Coach<i class="utility-icons-bgrey material-icons left">phonelink_setup</i></a></li>
          <li><a href="{{pathFor 'Services'}}">Services<i class="utility-icons material-icons left">work</i></a></li>
          <li><a href="{{pathFor 'Schedule'}}">Schedule<i class="utility-icons material-icons left">perm_contact_calendar</i></a></li>
            <li><a href="{{pathFor 'Challenges'}}">Challenges<i class="utility-icons fa fa-trophy left"></i></a></li>

          <li><a href="{{pathFor 'Diet'}}">Diet<i class="utility-icons fa fa-cutlery left"></i></a></li>
          <li><a href="{{pathFor 'Goals'}}">Goals<i class="utility-icons material-icons left">class</i></a></li>
          <li><a href="{{pathFor 'Store'}}">Store<i class="utility-icons material-icons left">shopping_cart</i></a></li>
          <li><a href="{{pathFor 'Settings'}}">Settings<i class="utility-icons material-icons left">settings</i></a></li>
        </ul>
        </div>

         {{>rightPanel}}




        </div>






        </div>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="ion-navicon"></i></a>
    </nav>
</template>
