/* CSS declarations go here */

.back{
  font-size: 15px;
}

.filter-parent{
  position: relative;
  width: 100%;
  height:auto;
}

.filter-buttons{
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
}

.filter-parent .filter_sort{
  position: absolute;
  top:-50px;

}
/*bert*/


.bert-alert.now-playing{
  background: purple;
  color: #fff;
}

/* single views*/

.main-title {
    font-size: 42px;
}
.over-power-global-m .collection {
  margin: 0.5rem 0 1rem 0;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.over-power-global-m .collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;

}

.over-power-global-m .collection .collection-item.avatar {
  min-height: 86px;
  padding-left: 100px;
  position: relative;
}

.over-power-global-m .collection .collection-item.avatar .circle {
  position: absolute;
  width: 75px;
  height: 75px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.over-power-global-m .collection .collection-item.avatar i.circle {
  font-size: 40px;
  line-height: 75px;
  color: #fff;
  background-color: #999;
  text-align: center;
}
.over-power-global-m{
  margin-top: -150px;

}


.covers{
  z-index: 2000;
}

/* single views*/
.over-power-global-s .collection {
  margin: 0.5rem 0 1rem 0;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.over-power-global-s .collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;

}

.over-power-global-s .collection .collection-item.avatar {
  min-height: 66px;
  padding-left: 80px;
  position: relative;
}

.over-power-global-s .collection .collection-item.avatar .circle {
  position: absolute;
  width: 45px;
  height: 45px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.over-power-global-s .collection .collection-item.avatar i.circle {
  font-size: 20px;
  line-height: 45px;
  color: #fff;
  background-color: #999;
  text-align: center;
}
.over-power-global-s{
  margin-top: -150px;

}

.over-power-global-s .row{
  margin-bottom: 2px;
}




/*icon colors*/

.auth .container{
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.container {
    margin: 0 auto;
    max-width: 1500px;
    width: 90%;
}


.graphs{
  width: 100%;
  height:100%;
  text-align: center;
}

.global-margin-down{
  margin-top: 100px;
}

.right-nav-padding{
  padding-right: 24px;
}
nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    padding-left: 24px;
    color: #262626;

}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    padding-left: 80px;
    padding-top: 4
    px;
    white-space: nowrap;
}

.red{
  color:#F44336;
}

.page-titles h4{
  margin-top: 1.6em;
}

nav {
    color: #262626;
    background-color: #03A9F4;
    width: 100%;
    height: 126px;
    line-height: 56px;
}

.nav2{
    background-color: #fff;
    width: 100%;
    height: 126px;
    line-height: 56px;
    color: #262626;
}


.nav3{
    background-color: #069BDE;
    width: 100%;
    height: 126px;
    line-height: 56px;
    color: #262626;
}

.utility-icons{
  color: #00ACC1;
}

.utility-icons-dark{
  color: #262626;
}
.utility-icons-red{
  color: #F44336;
}

.utility-icons-green{
  color: #4CAF50;
}

.utility-icons-yellow{
  color: #FFEB3B;
}

.utility-icons-bgrey{
  color: #607D8B;
}



header, main, footer {
    padding-left:0;
  }

  @media only screen and (max-width : 1100px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  .avatar-header{

    padding-top: 1.0em;
      text-align: center;

  }

  .avatar-header p{
    margin-top: 0;
    line-height: 0;

  }

  .img-size{
    width: 55px;
    height:55px;
    padding-right: 5px;

  }

/* general spacing classes only*/

.top-margin{
  margin-top: 1.46rem;
}
