<template name="globalDataPopout">
  <div class="data-cover-overlay">
   </div>
  <div class="wrap-presentation">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l8">
          <div class="global-popout">

            <div class="panel-decor">

              <i class="close-data-popout small material-icons">close</i>

            </div>
            <div class="q-content">
              <div class="questions">
                <p>Ask a Dynamic Question?</p>
                <div class="row">
                  <div class="input-field col s12">
                    <input class="validate" id="first_name" placeholder="First Name Please" type="text">
                    <label for="first_name">First Name</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input class="validate" id="first_name" placeholder="Last Name Please" type="text">
                    <label for="first_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input class="validate" id="age" placeholder="Age" type="text">
                    <label for="age">Age</label>
                  </div>
                </div>

                <div class="go-button">
                  GO
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l3">
          <div class="global-quick">
            <div class="questions">
              Choose A Gender
            </div>

            <div>
              <input id="male" type="checkbox"/>
              <label for="male">Male</label>
            </div>
            <div>
              <input id="female" type="checkbox"/>
              <label for="female">Female</label>
            </div>

          </div>
          <div class="global-quick">

            <div class="questions">
              Upload A Photo?
            </div>
            <div>
              <input id="yes" type="checkbox"/>
              <label for="yes">Yes</label>
            </div>
            <div>
              <input id="no" type="checkbox"/>
              <label for="no">No</label>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  {{>UI.contentBlock}}

</template>
