//.nav-overlay .active
//  -webkit-animation  pslideInLeft 0.2s ease-in-out



//@keyframes pslideInLeft
//  0%
//    display none
//  1%
//    display block
//    opacity 0.5
//    transform scale(0)
//  100%
//    opacity 1
//    transform scale(1)

.edit-intro-start
  width 100px
  height 100px
  position relative
  margin 0 auto
  background blue
  opacity  0


.animation-container
    top 0
    left 0
    width 100%
    height 100%
    position absolute
    background none
    z-index 5
    overflow hidden
    display block
