@import 'styl/*'
//@import 'styl/variables'

.team-stat-card
  width 100%
  position relative
  margin 0 0 20px 0
  border 1px solid #efefef
  background-color: #fff
  overflow hidden
  .coach-title
    padding 10px 0 10px 8px
    font-size 20px
    font-weight 500
    position relative
  .team-stat-card-body
    padding 20px 10px 8px 10px
    position relative
    .seperate
      border-bottom 1px solid #efefef

    .team-sub-title
      color #666
      display block
      font-size 12px
      line-height 28px
      min-height 28px
      white-space nowrap
    .thick-stats
      color #262626
      font-size 30px
      font-weight 600


.cards
  width 100%
  position relative
  margin 0 0 20px 0
  border-radius()
  border 0
  background-color: #fff
  box-shadow 0 2px 5px -1px rgba(0, 0, 0, 0.26)
  overflow hidden
  .cards-body
    position: relative
    padding: 20px

.card-charts .info .little-text-dark
   font-size 14px
   color cardPrimary
   font-weight 200






.cards-icon
  position: absolute
  right: 20px
  top:20px
  font-size: 30px
  opacity: .3

.card-charts .cards-icon-knob
  position: absolute
  left: 60px
  top:45px
  font-size: 30px
  opacity: .8
  color:#fb8c00

.card-charts .info
  margin-top:40px
.card-charts .info span
  color:#fb8c00
  font-size:25px
  font-weight 100



.card-data h4
  font-size: 16px
  margin: 0 0 5px 0
  color: rgba(255, 255, 255, 0.54)
  font-weight: 100

.card-data .cards-icon
  position: absolute
  right: 20px
  top:20px
  font-size: 30px
  opacity: .2

.card-data .cards-body
  padding: 20px


.card-data small
  position: absolute
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f0f0f0
  padding: 10px 20px
  font-size: 18px
  font-weight: lighter

.cards-tile
  border-radius: 0
  box-shadow: none
  margin-bottom: 5px
.tile
  border-radius: 0
  margin-bottom: 3px

.card-data .card-blue-grey
    color: #ffffff
    background-color: #5f7c8a

.card-data p
  font-size: 25px
  font-weight: lighter

.card-member .user-photo
  float:left
  width:100px
  height:auto
  cf()
.card-member .member-content
  margin-left:120px;

.card-member .title
  font-size: 18px;
  margin-top: 10px;
  font-weight:500
