@import 'styl/*'

.view-content
  padding 40px 180px 40px 121px
.content
  padding 40px 40px 40px 121px
.cursors
  cursor pointer
.no-display
  display none
.display-yes
  display block

//buttons
.super-button
    position absolute
    left 110px
    top 108px
    cursor pointer

//layout
.aside-nav
  position fixed
  left 0
  z-index 4
  top-postion(60px)
  padding 15px 27px 15px 15px
  width 80px
  cursor pointer
  font-size 30px
  .user
    position relative
    display block
    text-align center
    width 50px

    img
      width 50px

.aside-colors
  color asideNav
.nav-one
  position fixed
  left 0
  z-index 4
  top-postion(0)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-two
  position fixed
  left 0
  z-index 4
  top-postion(140px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-three
  position fixed
  left 0
  z-index 4
  top-postion(200px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-four
  position fixed
  left 0
  z-index 4
  top-postion(260px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-five
  position fixed
  left 0
  z-index 4
  top-postion(320px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-six
  position fixed
  left 0
  z-index 4
  top-postion(380px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-seven
  position fixed
  left 0
  z-index 4
  top-postion(440px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-eight
  position fixed
  left 0
  z-index 4
  top-postion(500px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-nine
  position fixed
  left 0
  z-index 4
  top-postion(560px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-ten
  position fixed
  left 0
  z-index 4
  top-postion(620px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-11
  position fixed
  left 0
  z-index 4
  top-postion(680px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
.nav-12
  position fixed
  left 0
  z-index 4
  top-postion(740px)
  padding 10px 27px 10px 27px
  width 80px
  font-size 30px
