//basic
.nav-overlay
  top 0
  left -400px
  display block
  overflow hidden
  position fixed
  height 100%
  z-index 10
  width 400px
  background-color #262626

  .nav-inner
    top 0
    left -100px
    overflow hidden
    position absolute
    height 100%
    z-index 11
    width 80px
    background-color #fff

    .close-overlay
      position absolute
      top 18px
      left 20px
      .icon-size
        font-size 36px
