@import 'styl/*'
.super-cover
  position absolute
  top 0
  left -2000px
  width 100%
  height 100%
  z-index 20
  background #546e7a
  overflow hidden !important

.super-cover-top
  position absolute
  top -1000px
  left 0
  width 100%
  height 30%
  z-index 20
  background #546e7a
  overflow hidden !important

.super-cover-small
  position absolute
  top 200px
  left -1000px
  width 500px
  height 40%
  z-index 20
  background #546e7a
  padding 8px
  border-radius(5px)
  overflow hidden !important
  .close-small-popout
    opacity 0
  .head
    opacity 0
