.container-spec
  margin 0 auto
  width 999px
  height 500px
  background #fff
  position relative
  box-shadow 0 2px 5px -1px rgba(0, 0, 0, 0.16)
  .spec-nav
    position absolute
    left 0
    bottom 0
    .snav
     margin 0
     padding 0
     overflow hidden
     li
      float left
      a
       display block
       padding 0 20px 5px 105px
       color gray
       text-decoration none
       font-size 20px
  .data-text
    position absolute
    background  #efefef url(/images/cross.png)
    background-size cover
    background-repeat no-repeat
    top 0
    left 0
    height 450px
    width 550px
    h3
      padding 0 0 0 10px
      color #fff
      opacity 0.8
    p
      padding 15px
      font-size 18px
      color #fff
      opacity 0.8
  .image-text
    position absolute
    background url(/images/chal.jpg)
    background-size cover
    background-repeat no-repeat
    color #fff
    top 0
    right 0
    height 450px
    width 449px
    .btn-ctrl
      position relative
      top 375px
      left 123px
