.cards{
  width: 100%;
  position: relative;
  margin: 0 0 20px 0;
  border-radius: 3px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.26);
  overflow: hidden;
}


.cards .cards-body {
  position: relative;
  padding: 20px;
}

.cards-icon{
  position: absolute;
  right: 20px;
  top:20px;
  font-size: 30px;
  opacity: .3;
}

.card-data h4{
  font-size: 16px;
  margin: 0 0 5px 0;
  color: rgba(255, 255, 255, 0.54);
  font-weight: 100;
}
.card-data .cards-icon{
  position: absolute;
  right: 20px;
  top:20px;
  font-size: 30px;
  opacity: .2;
}
.card-data .cards-body{
  padding: 18px 20px 38px 20px;
}

.card-data small{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f0f0f0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: lighter;
}
.cards-tile{
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 5px;
}
.card-data .card-blue-grey {
    color: #ffffff;
    background-color: #5f7c8a;
}
.card-data p{
  font-size: 25px;
  font-weight: lighter;
}
